# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore model files
models/
*.pkl

# Ignore log files and temporary files
*.log
*.tmp

# Ignore VS Code settings and workspace files
.vscode/
*.code-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

#Ignore sensitive content
SensitiveConstants.py